.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
*.iml
**/Generated.xcconfig
**/flutter_export_environment.sh
**/ephemeral/
**/Pods/
**/Podfile.lock
*.apk
*.aab
*.ipa
.DS_Store
